body{
    background-color: darkgray;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.calculator{
    background-color: black;
    border-radius: 1em;
    min-width: 25rem;
    min-height: 35rem;
    display:flex;
    flex-direction: column;
    gap:1em;    
    padding: 1em;
}
.row{
    flex:1;
    display:flex;
    align-items: stretch;
    gap: 1em;
}

.screen{
    border-radius: 1em;
    border: solid white 2px;
}
button{
    flex:1;
    background-color: black;
    color: white;
    border: solid white 1px;
    border-radius: 1em;
}
button:hover{
    background-color: white;
    color: black;
}
button:active{
    background-color:thistle;
}
span{
    font-weight: bold;
}








footer{
    background-color: black;
    font-size:larger;
    color: azure;
    min-height: 10vh;
    align-self: stretch;
    justify-self: flex-end;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.github{
    margin-left: 0.5em;
    color: aliceblue;
}